@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import 'tailwind-animations';

@custom-variant dark (&:is(.dark *));

:root {
	--color-softLinen: #f3efe3; /* Primary 1 */
	--color-deepWalnut: #492e19; /* Primary 2 */
	--color-granite: #5b6c5d; /* Secondary 1 */
	--color-skyBlue: #95cfff; /* Secondary 2 */
	--color-ochre: #db761c; /* Secondary 3 */
	--color-glossyBlack: #252324; /* Tertiary 1 */
	--color-frost: #fcfbfc; /* Tertiary 2 */
	--height-nav: 4em; /* height of navbar */
	--hero-heading-mt: calc(
		var(--height-nav) + 1em
	); /* margin-top for hero heading */
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
	background: var(--color-frost);
	color: var(--color-glossyBlack);
	font-family: var(--font-satoshi);
	font-size: 1rem;
}

.font-outward {
	font-family: var(--font-outward);
}

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		scroll-behavior: smooth;
	}

	html,
	body {
		height: 100%;
	}

	h1 {
		font-family: var(--font-outward);
		font-size: 21em;
		line-height: 0;
		font-weight: bold;
		color: var(--color-deepWalnut);
		text-box-trim: trim-both; /* TODO: doesn't work in firwfox -> alternative */
		display: inline-block;
		vertical-align: bottom;
	}

	h2 {
		font-family: var(--font-outward);
		font-size: 14em;
		font-weight: bold;
		text-box-trim: trim-both; /* TODO: doesn't work in firwfox -> alternative */
	}

	h3 {
		font-family: var(--font-satoshi);
		font-size: 2em;
		font-weight: bold;
	}

	h4 {
		font-family: var(--font-satoshi);
		font-size: 1.5em;
		font-weight: bold;
	}

	h5 {
		font-family: var(--font-satoshi);
		font-size: 1.25em;
		font-weight: bold;
	}
	@media (max-width: 768px) {
		h1 {
			font-size: 10em;
		}
		h2 {
			font-size: 5em;
		}
		/*	h3 {
			font-size: 2em;
		}
		h4 {
			font-size: 1.5em;
		}
		h5 {
			font-size: 1.25em;
		} */
	}
	@media (min-width: 768px) {
		/* h1 {
			font-size: 21em;
		}
		h2 {
			font-size: 10em;
		}
		h3 {
			font-size: 2em;
		}
		h4 {
			font-size: 1.5em;
		}
		h5 {
			font-size: 1.25em;
		} */
	}
	@media (min-width: 1024px) {
		/* h1 {
			font-size: 21em;
		}
		h2 {
			font-size: 10em;
		}
		h3 {
			font-size: 2em;
		}
		h4 {
			font-size: 1.5em;
		}
		h5 {
			font-size: 1.25em;
		} */
	}

	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.text-body-big {
	font-family: var(--font-satoshi);
	font-size: 1.5em;
	font-weight: bold;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer utilities {
	.wrapper-cols-12 {
		height: 100vh;
		padding: 0 5rem;
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
		gap: 1.25rem;
	}

	.wrapper-flex-full {
		padding: 0 5rem;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}

	@media (max-width: 768px) {
		.wrapper-cols-12 {
			padding: 0 1.5rem;
		}
		.wrapper-flex-full {
			padding: 0 1.5rem;
		}
	}
	@media (min-width: 768px) {
		.wrapper-cols-12 {
			padding: 0 2rem;
		}
		.wrapper-flex-full {
			padding: 0 2rem;
		}
	}
	@media (min-width: 1024px) {
		.wrapper-cols-12 {
			padding: 0 5rem;
		}
		.wrapper-flex-full {
			padding: 0 5rem;
		}
	}

	/* Components */

	/* .carousel-mask {
		mask-image: url('/imgs/2_oval_mask.png');
		-webkit-mask-image: url('/imgs/2_oval_mask.png');
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		mask-position: center center;
		-webkit-mask-position: center center;
		mask-size: 100% 100%;
		-webkit-mask-size: 100% 100%;
	} */
	.carousel-invert-mask {
		mask-image: url('data:image/svg+xml;utf8,<svg width="1000" height="400" viewBox="0 0 1000 400" xmlns="http://www.w3.org/2000/svg"><rect width="1000" height="400" fill="black"/><ellipse cx="500" cy="80" rx="480" ry="80" fill="white"/><ellipse cx="500" cy="320" rx="480" ry="80" fill="white"/></svg>');
		-webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="1000" height="400" viewBox="0 0 1000 400" xmlns="http://www.w3.org/2000/svg"><rect width="1000" height="400" fill="black"/><ellipse cx="500" cy="80" rx="480" ry="80" fill="white"/><ellipse cx="500" cy="320" rx="480" ry="80" fill="white"/></svg>');
		mask-size: 100% 100%;
		-webkit-mask-size: 100% 100%;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		mask-position: center;
		-webkit-mask-position: center;
	}

	/* Background */
	.bg-silk {
		width: 100vw !important;
		height: 100vh !important;
		position: fixed !important;
		top: 0 !important;
		left: 0 !important;
		z-index: -1;
	}
}
